@import './reset/reset.scss';
@import "./variables/variables.scss";

// testing

.project-content__tech-stacks span {
  color: brown;
  font-weight: 700;
}

.project-wrapper {
  border: 1px solid green;
}
